html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.section-1 {
    margin: 0 auto;
    background: url('../img/section-1(header).jpg') no-repeat fixed;
    background-size: cover;
}

.menu {
    width: 100%;
    height: 120px;
    background-color: rgba(73, 71, 63, 0.6);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 3;
}

.menu-content {
    margin: 0 auto;
    width: 1160px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.ham-logo {
    display: inline-block;
    height: 67px;
}

.ham-logo > span {
    font-size: 32px;
    font-weight: 400;
    margin-left: 5px;
}

.ham-logo div a {
    text-decoration: none;
    color: #ffffff;
}

.ham-logo span a {
    text-decoration: none;
    color: #ffffff;
}

.ham-logo > span > span {
    font-weight: 700;
    color: #18cfab;
}

.ham-logo span span a {
    color: #18cfab;

}

.ham-menu-text {
    display: inline-block;
}

.menu-items {
    font-weight: 700;
    font-size: 13px;
    color: #b8b8b8;
    text-transform: uppercase;
    list-style-type: none;
}

li a {
    color: #b8b8b8;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

}

.menu-items li a:hover:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #18cfab;
    /*border: 2px solid #18cfab;*/
    left: 0;
    bottom: -52px;
}

.menu-items > li {
    display: inline;
    margin-left: 17px;
}

/*.menu-items > li:hover {*/
    /*color: #18cfab;*/
    /*border-bottom: 2px solid #18cfab;*/
/*}*/

.creative {
    height: 1000px;
    width: 100%;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 34px;
    color: #ffffff;
}

.creative > * {
    padding: 0;
    margin: 0;
}

.creative > h5 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 45px;
}

.creative > h5 > span {
    color: #18cfab;
}

.creative > h1 {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 37px;
}

.creative > p {
    text-transform: none;
    font-weight: 300;
    margin-bottom: 145px;
}

.btn-1, .btn-2 {
    display: inline-block;
    height: 60px;
    width: 165px;
    border-radius: 4px;
    border-top: 3px solid white;
    margin-right: 28px;
    text-transform: uppercase;
    background-color: #18cfab;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    /*overflow: hidden;*/
}

.btn-2 {
    background-color: #00cbf6;
}

.with-squares {
    height: 374px;
    width: 100%;
    background-color: blue;
    display: flex;
    justify-content: center;

}

.with-squares > * {
    width: 25%;
    min-width: 200px;
    height: 100%;
    border-top: 4px solid black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

}

.square-1, .square-3 {
    background-color: #1c2a33;
    border-color: #18cfab;
    color: #18cfab;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;

}

.square-2, .square-4 {
    background-color: #18cfab;
    border-color: white;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.with-squares div > i {
    font-size: 70px;
}

.section-3, .section-5 {
    width: 100%;
    /*height: 1000px;*/
    background-color: #fff;
}

.container-3, .container-5 {
    margin: 0 auto;
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.pic-menu {
    text-align: center;
    margin-bottom: 70px;
    display: flex;
    cursor: pointer;
}

.pic-menu * {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    padding: 25px 25px 20px 25px;
    border: 1px solid #717171;
    border-right: none;
    color: #717171;
    position: relative;
}

.pic-menu-item:nth-of-type(5) {
    border-right: 1px solid #717171;
}

.active-work {
    color: #18cfab;
}

.active-work::before {
    content: '';
    display: block;
    background-color: #18cfab;
    width: 100%;
    height: 3px;
    position: absolute;
    top: -3px;
    left: 0;

}

.title {
    color: #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    margin-top: 97px;
}

.title::after {
    content: '';
    display: block;
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin: 30px auto;
    box-shadow: 10px 4px 1px 0px #18cfab;
}

.pictures {
    /*height: 632px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin-bottom: 70px;
}

/*.pic-item:hover {*/
/*background-image: url('../img/work/wordpress1.jpg');*/
/*border: 2px solid black;*/
/*}*/
.pictures a {
    height: 206px;
    width: 284px;
    display: block;
    margin-bottom: 5px;
}

.butt {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    width: 165px;
    border-radius: 4px;
    height: 60px;
    line-height: 60px;
    background-color: #18cfab;
    overflow: hidden;
    /*margin-bottom: 100px;*/
}

.butt span {
    vertical-align: middle;
    font-size: 30px;
    margin-right: 16px;
}

.best-pic {
    width: 100%;
    margin-bottom: 65px;
}

.best-pic:after {
    content: '';
    display: block;
    clear: both;
}

.best-item,
.best-sizer {
    width: 33.333%;
}

.best-item {
    float: left;
    cursor: pointer;
    /*margin-bottom: 3px;*/
}

.best-item img {
    width: 385px;
}

.best-item-2 {
    display: flex;
    justify-content: space-between;
    width: 385px;
}

.best-item-2 img {
    width: 190px;
    height: 168px;
    margin-bottom: 3px;
}

.best-item-9 {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 385px;
}

.best-item-9 img {
    width: 127px;
    height: 92px;
    margin-bottom: 3px;
}

.grid-item--gigante {
    width: 770px;
    /*height: 200%;*/
    z-index: 2; /* above other items */
}

.grid-item--gigante img {
    width: 100%;
    height: 100%;
}

.grid-item--gigante-9 {
    width: 770px;
    z-index: 2;

}

.grid-item--gigante-9 img {
    width: 32%;
    height: 32%;
}

.foo {
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #22353f;
    margin-top: 80px;
    line-height: 100px;
    color: #aeaeae;
    font-size: 14px;
}
.foo a {
    text-decoration: none;
    color: #18cfab;
}